#pop-up {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-100%);
  background-color: rgba(0, 255, 255, 0.6);
  padding: 10px 40px;
}

#ticket-show {
  margin-left: 25rem;
}

td,
th {
  padding: 8px;
}
