* {
  font-family: sans-serif;
}

body {
  margin: 0px;
  border: 0px;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}

#outer {
  width: 15vw;
  height: 25vh;
  border: 1px solid black;
  margin: 30vh;
  background-color: #a6b28c;
  border-color: #0c2f25;
  gap: 2rem;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#roomNum {
  width: 90%;
  max-width: 300px;
  height: 3vh;
  background-color: #d1b278;
}

#submit {
  width: 30%;
  max-width: 300px;
  height: 3vh;
  background-color: #d1b278;
}
