#outer {
  width: 15vw;
  min-height: 10rem;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: black;
}
