* {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17rem;
  background-color: #a6b28c;
  border: 1px solid #0c2f25;
  width: 20rem;
  height: 20vw;
}

#playerName {
  background-color: #d1b278;
  width: 100%;
  height: 2vh;
}

#submit {
  width: 60%;
  height: 2rem;
  max-width: 600rem;
  margin: 1rem 2em;
  background-color: #d1b278;
}
