* {
  font-family: sans-serif;
}

body {
  margin: 0px;
  border: 0px;
  display: flex;
  justify-content: center;
}

#outer {
  width: 20vw;
  height: 60vh;
  border: 1px solid black;
  margin: 20vh;
  background-color: #a6b28c;
  border-color: #0c2f25;
  gap: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#copy,
#leave {
  background-color: #d1b278;
}

.spinner {
  margin-top: 1rem;
  border: 5px solid #d1b278;
  border-top: 5px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
