#waiting-section {
  width: 20vw;
  gap: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0px;
  background-color: #e7d8b2ef;
}

.spinner {
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid #d1b278;
  border-top: 5px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#gameId {
  display: flex;
  width: 50%;
  gap: 20px;
  justify-content: space-evenly;
}

button {
  padding: 5px 10px;
}

td {
  text-align: center;
  border: 1px solid black;
  padding: 4px;
}

tr {
  margin-top: 10px;
}

.participants {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  text-align: center;
  list-style-type: none;
  margin-top: 5px;
}
